#headshot {
	height: 260px;
	border-radius: 50%;
	width: 250px;
	position: absolute;
	margin-left: 200px;
}

#text {
    width: 45%;
	margin-left: 500px;
}

#back {
	width:30px;
	height:30px;
	position:relative;
}