$secondary-font: Open Sans;

#back {
	width:30px;
	height:30px;
	position:relative;
}

.images1 {
	@include grid-row();
	max-width: 80%;
	margin-top: -100px;

	#cache {
		@include grid-column(4);
		text-align: center;
	}

	#chatter {
		@include grid-column(4);
		text-align: center;
	}

	#menu {
		@include grid-column(4);
		text-align: center;
	}

	h3 {
		font-family: $secondary-font;
	}

	p {
		font-size: 0.8em;
		font-family: $secondary-font;
	}

	img {
		width: 85%;
	}
}

.images2 {
	@include grid-row();
	max-width: 80%;
	// margin-top: -100px;

	#movies {
		@include grid-column(4);
		text-align: center;
		// width: 32%;
	}

	h3 {
		font-family: $secondary-font;
	}

	p {
		font-size: 0.8em;
		font-family: $secondary-font;
	}

	img {
		width: 85%;
	}
}