#back {
	width:30px;
	height:30px;
	position:relative;
}

h3 {
	font-family: Roboto;
}

p {
	font-size: 0.8em;
	font-family: Roboto;
}

img {
	width: 85%;
}

.images1 {
	@include grid-row();
	max-width: 80%;
	margin-top: -100px;

	#cache {
		@include grid-column(4);
		text-align: center;
	}

	#chatter {
		@include grid-column(4);
		text-align: center;
	}

	#menu {
		@include grid-column(4);
		text-align: center;
	}
}

.images2 {
	@include grid-row();
	max-width: 80%;
	// margin-top: -100px;

	#movies {
		@include grid-column(4);
		text-align: center;
		// width: 32%;
	}
}