@import '../node_modules/foundation-sites/scss/foundation';
@import 'resume';
@import 'about';
@import 'portfolio';

@include foundation-global-styles;
@include foundation-grid;

* {
	background-color: #EDEDED;
}

ul {
	@include grid-row();
	list-style: none;
	text-align: center;
	max-width: 20%;
	margin-left:39%;
	

	li {
		@include grid-column(4);
		margin-top: 1%;
		padding-right: 0;
		padding-left: 0;
	}
}

#name {
	font-family: Scope One;
	font-size: 1.6em;
	font-weight: bolder;
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
	font-family: roboto;
}

a:hover {
	font-weight:600;
	color:black;
}

a:visited{
	text-decoration:none;
	color:black;
}

#main {
	margin-top:20%;
}

#line {
	border-top:2px solid #F66733;
	width:230px;
	margin-top:1%;
	margin-right:auto;
	margin-left:auto;
}

.nugget {
	display: flex;
	width: 5%;
	height: 110px;
	margin:auto;
}

/* icons */
.sprites {
	margin-left:auto;
	margin-right:auto;
	width:300px;
	text-align:center;
	margin-top:3%;

    #icon {
        text-decoration:none;
        opacity:.6;
        padding-right:5px;
    }

    #icon:hover {
	    opacity:1;
    }
}

// #favicon {
// 	width:100px;
// 	height:105px;
// 	display:block;
// 	margin-right:auto;
// 	margin-left:auto;
// }

// .buttons {
// 	border:none;
// 	background-color:#C9C9C9;
// 	opacity:.6;
// 	font-size:15px;
// 	-moz-border-radius: 15px;
// 	border-radius: 15px;
// 	color:black;
// }

// .buttons:hover {
// 	opacity:1;
// }

// .buttons:focus {
// 	outline:none;
// }
