<section ng-controller="AboutController" ng-show "showAbout">
    <a href="index.html"><img src="back.png" id="back" /></a>
    <!--<a ui-sref="home"><img src="back.png" id="back" /></a>-->
    <div id="headshotMain">
        <img src="headshot.jpg" id="headshot" />
    </div>
    <div id="text">
        <p>
            Hey! I'm Noah, a graduate of Clemson University with a B.S. in psychology. I also recently completed the Front-End Engineering
            course at The Iron Yard where I spent 12 weeks learning JavaScript.
        </p>
        <p>
            I'm now looking for jobs as a Junior web developer specializing in front-end development for full stack web applications.
            Most of my experience is with HTML,CSS, and JavaScript libraries and frameworks. I've always been a tinkerer
            and that's a big part of what led me into the tech world! Being able to build projects from scratch and manipulate
            different things along the way is incredibly exciting to me!
        </p>
        <p></p>
    </div>
</section>